@import '/src/app/styles-custom/main-page-global.scss';

@media screen and (max-width: 576px) {
    .container-fluid {
        transition: 1s;

        .row {
            transition: 1s;

            .col-sm-6 {
                transition: 1s;
                text-align: center !important;
                padding: 2% 0% !important;

                .title {
                    transition: 1s;
                    text-align: center !important;
                }

                .button {
                    transition: .3s;
                    font-size: small;
                }
            }
        }
    }
}

.container-fluid {
    transition: 1s;
    position: sticky;
    top: 0;
    background-color: $nextone-color-white;
    font-family: MavenPro;
    box-shadow: $nextone-box-shadow-black;
    z-index: 1;
    .row {
        transition: 1s;

        .col-sm-6 {
            transition: 1s;

            .title {
                font-family: MavenPro;
                font-size: 30px;
                letter-spacing: .5rem;
                font-weight: bold;
                color: $nextone-color-black;
                text-transform: uppercase;
                margin: 0;
                text-align: start;
                transition: 1s;
                cursor: pointer;
            }
        }

        .col-sm-6 {
            transition: 1s;
            text-align: end;
            padding: 2%;

            .button {
                text-transform: capitalize;
                vertical-align: middle;
                background-color: $nextone-color-white;
                color: $nextone-color-black;
                border: none;
                transition: .3s;
                padding: 0% 2%;
                font-size: large;
            }

            .button:hover {
                font-weight: bold;
                transition: .3s;
            }

            .button:active {
                font-weight: bold;
            }
        }
    }
}

/* CLASSES */

.active {
    font-weight: bold;
}