@import '../../styles-custom/main-page-global.scss';

@media screen and (max-width: 576px) {
    .container-fluid {
        width: 100% !important;

        .row {
            transition: 1s;

            .col-sm-12 {
                transition: 1s;

                .form {
                    transition: 1s;

                    .row {
                        transition: 1s;
                        padding: 0%;

                        .col-sm-6 {
                            transition: 1s;

                            input {
                                transition: 1s;
                                margin-bottom: 4%;
                            }
                        }

                        .col-sm-12 {
                            transition: 1s;

                            textarea {
                                transition: 1s;
                                margin-bottom: 4%;
                            }

                            button {
                                transition: .3s;
                                margin-bottom: 4%;
                            }
                        }
                    }
                }
            }
        }
    }
}

.container-fluid {
    text-align: center;
    padding: 4%;
    width: 35%;
    text-transform: capitalize;
    font-family: MavenPro;
    transition: 1s;
    margin-right: unset;

    .row {
        transition: 1s;
        padding: 2%;

        .col-sm-12 {
            transition: 1s;

            .form {
                transition: 1s;

                .row {
                    transition: 1s;

                    .col-sm-6 {
                        transition: 1s;

                        input {
                            transition: 1s;
                            width: 100%;
                            padding: 4%;
                            text-align: center;
                            border-radius: 5px;
                            font-size: medium;
                            border: none;
                        }
                    }

                    .col-sm-12 {
                        transition: 1s;
                        text-align: start;

                        textarea {
                            transition: 1s;
                            width: 100%;
                            border: none;
                            border-radius: 10px;
                            text-transform: capitalize;
                            font-size: medium;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}

hr{
    margin: 0;
}

.form-error{
    color: red;
}
.outer-content{
    height: 100%;
    width: 100%;
    background: beige;
}