<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="h1">talk to us?</h1>
            <form class="form" action="" method="post">
                <div class="row">
                    <div class="col-sm-6">
                        <input type="text" placeholder="first name" required>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" placeholder="last name" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <input type="email" placeholder="email id" required>
                    </div>
                    <div class="col-sm-6">
                        <input type="tel" name="mobile" id="mobile" placeholder="mobile" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <textarea name="message" id="" cols="30" rows="10" placeholder="your message" required></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <button type="submit">send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<hr>