<div class="container-fluid" id="careers">
    <div class="row one">
        <div class="col-sm-12">
            <h1 class="h1">join the team</h1>
            <p class="p">
                think you'd be a good fit with Next<span style="color: rgb(255, 94, 0)">One</span>? view open opportunities and send your resume our way!
            </p>
            <p class="p">see open positions>></p>
            <h2 class="h2">you've imagined your dream job. now live it.</h2>
        </div>
    </div>
    <div class="row two">
        <div class="col-sm-12">
            <h1 class="h1">reasons to work at Next<span style="color: rgb(255, 94, 0)">One</span></h1>
            <div class="row two-one">
                <div class="col-sm-4">
                    <h2 class="h2">drive partner success</h2>
                    <p class="p">
                        every colleague plays a part in helping our partners achieve their vision of success. we all
                        have a responsibility to deliver a positive partner experience during every interaction they
                        have with
                        Next<span style="color: rgb(255, 94, 0)">One</span>.
                    </p>
                </div>
                <div class="col-sm-4">
                    <h2 class="h2">make a difference</h2>
                    <p class="p">
                        every Next<span style="color: rgb(255, 94, 0)">One</span> colleague has a chance to create a positive impact on our partners, company, and
                        industry. our ideas and voices come together to make tangible differences. every day, we're
                        producing
                        excellent work and making choices that lead to valuable outcomes.
                    </p>
                </div>
                <div class="col-sm-4">
                    <h2 class="h2">perform as a team</h2>
                    <p class="p">
                        there's no 'i' in team at Next<span style="color: rgb(255, 94, 0)">One</span>. we all bring different strengths to the table. and by
                        bringing out
                        the best in each of us, were stronger, more innovative, and we work better to achieve the best
                        possible
                        outcome for us and our partners.
                    </p>
                </div>
            </div>
            <div class="row two-one">
                <div class="col-sm-4">
                    <h2 class="h2">take pride in your work</h2>
                    <p class="p">
                        we do work that we're proud of and hold ourselves to a high standard. our bar may be set high,
                        but we
                        reach it through inspiration, focus, and relentless pursuit in our efforts towards continuous
                        improvement.
                    </p>
                </div>
                <div class="col-sm-4">
                    <h2 class="h2">own the outcome</h2>
                    <p class="p">
                        we improve through accountability: to our partners, colleagues, the it industry, and ourselves.
                        by
                        owning our outcomes, we build trust, strengthen relationships, and continue to perform our jobs
                        and
                        develop innovative solutions at the highest levels.
                    </p>
                </div>
                <div class="col-sm-4">
                    <h2 class="h2">innovate everywhere</h2>
                    <p class="p">
                        innovation doesn't just happen with our products. it comes in all shapes and sizes, from any
                        team,
                        department, or colleague. strive to find big and small ways to infuse creativity every day to do
                        things
                        better and taking the initiative to
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row three">
        <div class="col-sm-12">
            <h1 class="h1">benefits and perks</h1>
            <div class="row">
                <div class="col-sm-4">
                    <h2 class="h2">a chance to give back</h2>
                    <p class="p">
                        the Next<span style="color: rgb(255, 94, 0)">One</span> foundation is focused on a culture of philanthropy, allowing colleagues to help
                        build
                        stronger communities, and spread access to technology and training for a brighter future.
                    </p>
                </div>
                <div class="col-sm-4">
                    <h2 class="h2">career training & development</h2>
                    <p class="p">
                        whether it's the global exposure and experience, the education reimbursement for certifications,
                        conferences, professional and leadership training, and access to Next<span style="color: rgb(255, 94, 0)">One</span> university, we make
                        sure you're
                        always learning and sharpening your skills throughout your career journey.
                    </p>
                </div>
                <div class="col-sm-4">
                    <h2 class="h2">we're invested in your future</h2>
                    <p class="p">
                        structured for longevity, we offer colleagues competitive salaries, company contributions to
                        their
                        401(k), and career pathing for professional development and growth.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <h2 class="h2">wellness matters</h2>
                    <p class="p">
                        we want you (and your loved ones) healthy and happy, so we offer premium medical, dental, and
                        vision
                        coverage. and we have a flexible time away plan because time away from work is essential.
                    </p>
                </div>
                <div class="col-sm-4">
                    <h2 class="h2">fueled by fun</h2>
                    <p class="p">
                        we take work seriously, but ourselves a little less so. from kitchen foosball and family days to
                        summer
                        outings and holiday parties, we know how to connect for a good time, all thanks to our culture
                        club, who
                        keep the fun times going.
                    </p>
                </div>
                <div class="col-sm-4">
                    <h2 class="h2">you are valued</h2>
                    <p class="p">
                        we believe humility sparks collaboration, which ignites success. as uniquely talented team
                        members
                        across the globe common in our mission, we encourage, recognize, and celebrate each other's
                        contributions.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>