<div class="container-fluid" id="about">
    <div class="row">
        <div class="col-sm-12 section-one" id="section-one">
            <h1 class="h1">about <span style="color: rgb(255, 94, 0)">us</span></h1>
            <p class="p">
                Next<span style="color: rgb(255, 94, 0)">One</span> Technologies is currently under The Aim of Being Global BPO and
                Technology Solutions Company.
                 We Engage to Design, Build, Operate, and Maintain the Products and Services.
                That Make Customers Believe in their Vision Strongly With Next-Generation Solutions.
            </p>
        </div>
    </div>
</div>