<div class="container-fluid" id="footer">
    <div class="row" id="row-one">
        <div class="col-sm-3" id="section-one">
            <div class="row">
                <button type="button" class="button" routerLink="/main/home">home</button>
            </div>
        </div>
        <div class="col-sm-3" id="section-two">
            <div class="row">
                <button type="button" class="button" routerLink="/main/careers">careers</button>
            </div>
        </div>
        <div class="col-sm-3" id="section-three">
            <div class="row">
                <button type="button" class="button" routerLink="/main/about">about</button>
            </div>
        </div>
        <div class="col-sm-3" id="section-four">
            <div class="row">
                <button type="button" class="button" routerLink="/main/services">services</button>
            </div>
        </div>
    </div>
    <div class="row" id="row-two">
        <div class="col-sm-12">
            <h4 class="title">nextone © 2023</h4>
        </div>
    </div>
</div>