<div class="container-fluid" id="home">
    <div class="row">
        <div class="col-sm-12 section-one" id="section-one">
            <!-- <h1 class="h1"><span class="text-uppercase">nextone</span> transcending</h1> -->
            <!-- <p class="p">turning ideas into reality</p> -->
            <h1 class="h1">our vision</h1>
            <p class="p">
                Next<span style="color: rgb(255, 94, 0)">One</span> Technologies was built to consolidate everything Partners need from Next<span style="color: rgb(255, 94, 0)">One</span> Technologiesin one single application. From
                launching and trialing products, to paying invoices, to submitting support tickets, Next<span style="color: rgb(255, 94, 0)">One</span> Technologies Home is your
                place to do it all.
                Our company is filled with tech-loving, passionate people who simply want to make IT better. From the
                top-down, we are all dedicated to guiding our partners and the industry further.
            </p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12 section-two" id="section-two">
            <h1 class="h1">connections</h1>
            <p class="p">
                At Next<span style="color: rgb(255, 94, 0)">One</span> Technologies, we don't have customers or clients; we have partners. Companies whose success we're
                committed to supporting at every step of their business journey. To fulfill this promise, we provide
                more than just the software they use to run their business. From consulting and implementation services
                to education, support, customer care, and account management, we have the customer support, customer
                services, and tools our partners need to get the most out of our software and grow their business.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 section-three" id="section-three">
            <h1 class="h1">who we are?</h1>
            <h4 class="h4">
                We're real people, building real relationships with partners whose success comes first.
            </h4>
            <p class="p">
                It's our people that truly set us apart. With a focus on our core values, and a dedication to hiring
                motivated, passionate people who already embody those values, we can provide a personal touch that
                supports our partners like no one else. Our experienced team provides customized implementation packages,
                including remote or on-site arrangements, to give partners the perfect implementation to shift their
                business needs from start to finish.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 section-four" id="section-four">
            <h1 class="h1">what are you waiting for?</h1>
            <p class="p">Check our Services now!</p>
            <button type="button" class="button" routerLink="/main/services">services</button>
        </div>
    </div>
</div>