@import '../../styles-custom/main-page-global.scss';

@media screen and (max-width: 576px) {
    .container-fluid {
        transition: 1s !important;

        .row {
            transition: 1s;

            .col-sm-12 {
                transition: 1s;
                padding-top: 4% !important;

                .h1 {
                    transition: 1s;
                    font-size: medium;
                    text-align: center !important;
                }
            }
        }
    }
}

.container-fluid {
    font-family: MavenPro;
    text-transform: capitalize;
    transition: 1s;

    .row {
        transition: 1s;
        padding: 2% 2% 1% 2%;

        .col-sm-12 {
            transition: 1s;

            .h1 {
                transition: 1s;
                text-align: end;
                background-color: $nextone-color-light-gray;
                padding: 1%;
                border-radius: 10px;
                letter-spacing: .3rem;
                text-transform: uppercase;
            }

            .h2 {
                transition: 1s;
                padding: 1%;
                font-style: italic;
                margin: 0%;
            }

            .p {
                transition: 1s;
                padding: 1%;
                font-size: medium;
                line-height: 1.5;
            }
        }
    }

    .one {
        background-color: $nextone-color-white;

        .col-sm-12{
            .h2{
                padding: 0% 1%;
            }
        }
    }

    .two {
        background-color: $nextone-color-white;
    }

    .three {
        background-color: $nextone-color-black;
        color: $nextone-color-white;

        .col-sm-12 {

            .h1 {
        color: $nextone-color-black;
                
            }
        }
    }
}