<div class="container-fluid" id="careers">
    <div class="row three">
        <div class="col-sm-12">
            <h1 class="h1">Our <span style="color: rgb(255, 94, 0)">Services</span></h1>
            <div class="row two-one">
                <div class="col-sm-4">
                    <h2 class="h2">Back-Office Bpo Services</h2>
                    <p class="p">
                        We provide services that includes data entry, data processing, and other administrative tasks that do not require direct interaction with customers.
                    </p>
                </div>
                <div class="col-sm-4">
                    <h2 class="h2">Front-Office Bpo Services</h2>
                    <p class="p">
                        Services include customer service, technical support, and other functions that require direct interaction with customers..
                    </p>
                </div>
                <div class="col-sm-4">
                    <h2 class="h2">Knowledge Process Outsourcing (KPO)</h2>
                    <p class="p">
                        We provide services that includes tasks such as market research, legal research, and other tasks that require specialized knowledge and expertise.
                    </p>
                </div>
            </div>
            <div class="row two-one">
                <div class="col-sm-12">
                    <h2 class="h2">Data Entry And Processing</h2>
                    <p class="p">
                        Providers offer data entry, data processing, and data management services to help businesses manage and organize their information.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>